

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    
        <!-- favicon picture link -->
        <link rel="shortcut icon" href="/webFiles/static/favicon_io/favicon.ico">

        <!-- CSS file link -->
        <link rel="stylesheet" href="/webFiles/static/css/main.css"> 
</head>
<body>

  <p class="errMessage" >{{ .}}</p>

  <div class="homeLink">
    <a  href="/">Home page</a>
  </div>


  <a href="/">
    <img class="homeButton" src="/webFiles/static/css/PikPng.com_stone-rock-png_1260938.png" alt="">
  </a>


</body>
</html>
