<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/download.png" type="image/x-icon">
    <title>Error</title>
</head>
<body id="body">
    <header >
        <div class="header__wrapper">
            <a class="header__logo logo" href="/">AlemBook</a>
    </header>
    <main>
        <h1 class="visually-hidden">Error page</h1>
            <h2 class="error__heading">{{.Err}} - {{.Code}}</h2> 
            </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <a class="footer__logo logo" href="/">Salem Alem</a>
            <div class="footer__legal">
                <p>&#169;2022. All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>